* {
    margin: 0;
    font-family: '{{font.normal.family}}';
    font-size: {{font.normal.size}}px;
    font-weight: {{font.normal.weight}};
}

window#waybar {
    background-color: transparent;
}
window#waybar > box {
    background-color: {{bar.bg}};
    color: {{bar.fg}};
   border-bottom: {{borders_plus.outer.width}}px solid {{borders_plus.outer.color}};
    {% if shadow.enabled %}
    box-shadow: 0px {{shadow.offset}}px {{shadow.blur}}px {{shadow.spread}}px rgba({{shadow.color}}, {{shadow.opacity}});
    {% else %}
    box-shadow: 0 0;
    {% endif %}
    margin: 0 0 {{gaps.outer}} 0;
}

label:disabled,
button:disabled {
    color: inherit;
}

.modules-left:first-child {
    margin-left: {{gaps.outer}}px;
}

.modules-right:last-child {
    margin-right: {{gaps.outer if gaps.outer > 10 else 10}}px;
}

#workspaces button {
    background-color: transparent;
    border: 0px;
    border-radius: {{border.radius}};
    color: {{bar.fg}};
}

#workspaces button {
    background-color: transparent;
    border-radius: {{border.radius}};
    color: {{bar.fg}};
}

#workspaces button:hover {
    background: {{accent.bg}};
    color: {{accent.fg}};
}

/* #workspaces button.focused {  */
/* changed for hyprland */
#workspaces button.active {
    background-color: {{border.active}};
    color: {{normal.bg}};
    font-weight: bold;

}

#workspaces button.urgent {
    background-color: {{destructive.bg}};
    color: {{destructive.fg}};
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#mode,
#idle_inhibitor,
#scratchpad,
#pulseaudio,
#mpd,
#tray,
#mpris,
#custom-radeontop,
#workspaces button {
    border-radius: {{border.radius}};
    padding: 4px 10px 4px 10px;
    {% if border.radius > 0 %}
    margin: 6px 10px 6px 0px;
    {% else %}
    margin: {{padding.y // 5}}px 10px {{padding.y // 5}}px 0px;
    {% endif %}
    box-shadow: 0 0;
    border: {{border.width}}px solid {{border.inactive}};
    background-color: {{normal.bg}};
 }

#mpris {
    font-family: '{{font.normal.family}}';
    font-size: {{font.normal.size+1}}px;
    font-weight: {{font.normal.weight}};
}


#tray {
    margin-right: 0;
}


{% if colorful == "background" %}

#pulseaudio {
    background-color: {{term.color1}};
    color: {{term.color0}};
}

#network {
    background-color: {{term.color2}};
    color: {{term.color0}};
}

#cpu {
    background-color: {{term.color3}};
    color: {{term.color0}};
}

#temperature {
    background-color: {{term.color4}};
    color: {{term.color0}};
}

#memory {
    background-color: {{term.color5}};
    color: {{term.color0}};
}

#custom-radeontop {
    background-color: {{term.color6}};
    color: {{term.color0}};
}

#disk {
    background-color: {{term.color7}};
    color: {{term.color0}};
}

#battery {
    background-color: {{term.color8}};
    color: {{term.color0}};
}

#tray {
    background-color: {{term.color9}};
    color: {{term.color0}};
}

{% elif colorful == "foreground" %}

#pulseaudio {
    color: {{term.color1}};
}

#network {
    color: {{term.color2}};
}

#cpu {
    color: {{term.color3}};
}

#temperature {
    color: {{term.color4}};
}

#memory {
    color: {{term.color5}};
}

#custom-radeontop {
    color: {{term.color7}};
}

#disk {
    color: {{term.color7}};
}

#battery {
    color: {{term.color8}};
}

#tray {
    color: {{term.color9}};
}

{% endif %}
