* {
    border: none;
    margin: 0;
    font-family: '{{font.normal.family}}';
    font-size: {{font.normal.size}}px;
    font-weight: {{font.normal.weight}};
}

window#waybar > box {
    margin: 0 0 {{gaps.outer}} 0;
}

window#waybar {
    background-color: transparent;
    color: {{bar.fg}};
}

label:disabled,
button:disabled {
    color: inherit;
}
.modules-center,
.modules-left,
.modules-right {
    box-shadow: {{shadow.offset}}px {{shadow.offset}}px {{shadow.blur}}px {{shadow.spread}}px rgba({{shadow.color}}, {{shadow.opacity}});
    border: {{border.width}} solid {{border.inactive}};
    border-radius: {{border.radius}};
    background-color: {{bar.bg}};
    padding: 4px 4px;
    {% if bar.bg != "transparent" %}
    margin-top: {{gaps.outer//3}}px;
    {% endif %}
}

.modules-left {
    margin-left: {{gaps.outer}}px;
}

.modules-right {
    margin-right: {{gaps.outer}}px;
}

#workspaces button {
    background-color: {{bar.bg}};
    color: {{bar.fg}};
}

#workspaces button:hover {
    background-color: {{accent.bg}};
    color: {{accent.fg}};
}

/* #workspaces button.focused {  */
/* changed for hyprland */
#workspaces button.active {
    background-color: {{primary.bg}};
    color: {{primary.fg}};
    font-weight: bold;
}

#workspaces button.urgent {
    background-color: {{destructive.bg}};
    color: {{destructive.fg}};
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#custom-media,
#mode,
#idle_inhibitor,
#scratchpad,
#pulseaudio,
#mpd,
#tray,
#custom-cava,
#custom-radeontop,
#mpris,
#workspaces button {
    background-color: {{normal.bg}};
    border-radius: {{border.radius // 2}};
    padding: 8px 15px 8px 15px;
    margin: 6px;
    box-shadow: 0 0;
 }


.modules-center {
    margin-left: {{gaps.outer}}px;
    margin-right: {{gaps.outer}}px;
}

#battery {
    background-color: {{bar.bg}};
    color: {{bar.fg}};
}

#battery.charging, #battery.plugged {
    background-color: {{secondary.bg}};
    color: {{secondary.fg}};
}

#battery.critical:not(.charging) {
    background-color: {{destructive.bg}};
    color: {{destructive.fg}};
}

#temperature.critical {
    background-color: {{destructive.bg}};
    color: {{destructive.fg}};
}

{% if colorful == "background" %}

#pulseaudio {
    background-color: {{term.color1}};
    color: {{term.color0}};
}

#network {
    background-color: {{term.color2}};
    color: {{term.color0}};
}

#cpu {
    background-color: {{term.color3}};
    color: {{term.color0}};
}

#temperature {
    background-color: {{term.color4}};
    color: {{term.color0}};
}

#memory {
    background-color: {{term.color5}};
    color: {{term.color0}};
}

#custom-radeontop {
    background-color: {{term.color6}};
    color: {{term.color0}};
}

#disk {
    background-color: {{term.color7}};
    color: {{term.color0}};
}

#battery {
    background-color: {{term.color8}};
    color: {{term.color0}};
}

#tray {
    background-color: {{term.color9}};
    color: {{term.color0}};
}

{% elif colorful == "foreground" %}

#pulseaudio {
    color: {{term.color1}};
    background-color: {{term.color0}};
}

#network {
    color: {{term.color2}};
    background-color: {{term.color0}};
}

#cpu {
    color: {{term.color3}};
    background-color: {{term.color0}};
}

#temperature {
    color: {{term.color4}};
    background-color: {{term.color0}};
}

#memory {
    color: {{term.color5}};
    background-color: {{term.color0}};
}

#custom-radeontop {
    color: {{term.color6}};
    background-color: {{term.color0}};
}

#disk {
    color: {{term.color7}};
    background-color: {{term.color0}};
}

#battery {
    color: {{term.color8}};
    background-color: {{term.color0}};
}

#tray {
    background-color: {{term.color0}};
}

{% endif %}
